html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 170px;
}
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  margin-bottom: 200px;
  justify-content: center;
  align-items: ;
  height: 100%;
  margin-top: 170px;
}
.top-row {
display: flex;
}
#p_press{
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 50px;
  width: 131px;
  height: 56px;
}
#jam_c{
  width: 55px;
  height: 67px;
  margin-top: 25px;
  margin-right:40px;
}
#bball{
  width: 62px;
  height: 62px;
  margin-right: 20px;
}
#p_lunartunes{
  width: 95px;
  height: 77px;
  margin-top: 35px;
  margin-right:0px;
}

.middle{
  display:flex;
}
.c-left{
  display:flex;
  flex-direction: column;
}
#p_lineup{
  width:63px;
  height: 52px;
  margin-top: 40px;
  margin-right:50px;
  margin-bottom: 15px;

}
#p_junior{
  width: 49px;
  height: 57px;
}
#jam_logo{
  width: 272px;
  height: 165px;
}
.c-right{
  display:flex;
  flex-direction: column;
}
#p_jump{
  width:58px;
  height:53px;
  margin-top:30px;
  margin-left: 50px;
}
#p_studio{
  width: 94px;
  height: 72px;
  margin-top:50px;

}
.bottom-row{
  display: flex;
}
#p_sovenirs{
  width: 83px;
  height: 83px;
  margin-right: 30px;
  margin-left: 60px
}
#p_sitemap{
  width: 104px;
  height: 67px;
  margin-top: 40px;
}
#p_behind{
  width:67px;
  height:63px;
}
footer{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
}
